
	#aboutMe, #projects{
    padding-top:	5em;
    border-top: 0.3em solid black;
	}

#workExp {
  margin-right: 1em;
  margin-left: 1em;
  padding-top: 2em;
  border-top: 0.3em solid black;
  height: 55em;
}
	  
header p{
  color:			black;
	padding:		1em 10em 0em 10em;
}

#welcomeButtons {
		display: 		table;
		margin: 		0 auto;
}

.home {
    width: 100%;
    padding-top: 10em;
    text-align: center;
    height: 50em;
  }

#aboutStyle{
  padding-top: 0em;
}

.navbar {
  width: 100%;
  position: fixed;
  margin: 0;
}

.container-fluid {
  padding: 0;
}	
  
.navbar-item {
    color: white;
}

h1 {
    color: black;
}
a {
  color: navy;
}
.nav-tabs {
  border-bottom: 0;
}

#education {
  padding-top: 5em;
  border-top: 0.3em solid black;
  padding-bottom: 5em;
}

#educationTitleNav {
  padding-left: 25em;
}

.carousel {
  width: 115em;
}

#contactMe {
  color: white;
  padding-top: 2em;
  text-align: center;
  padding-bottom: 2em;
  width: 100%;
}

#welcomeButtons {
  padding-top: 1em;
}

.footer {
  position: sticky;
   left: 0;
   bottom: 0;
   height: 3em;
   width: 100%;
   background-color: #343a40;
   color: white;
   text-align: center;
}

#footerContent {
  padding-top: 0.7em;
  clear: both;
}